
/*added border to check the grid visually*/
.grid-item {
    border: 0px solid white;

}

.grid-item:hover {
    background-color: grey;
}

.sketchSpace {
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 1em;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userSelections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.webSpace{
    display: flex;
}